<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="<?smarty $settings.language|@strtolower ?>_<?smarty $settings.language ?>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=740, initial-scale=1.0">

<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/Aristo/Aristo.css' />

<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/fullcalendar-1.6.4/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/fullcalendar-1.6.4/fullcalendar/agendalist.css' />
<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css' media='print' />

<?smarty if $settings.editdialog_timepicker_type == 'simple' ?>
	<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/jquery-timepicker-1.3.2/jquery.timepicker.css'  />
<?smarty else ?>
	<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jquery-ui-timepicker-0.3.3/jquery.ui.timepicker.css'  />
<?smarty /if ?>

<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jqueryui/1.8.17/jquery-ui.css' />

<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.FULLCAL_URL ?>/style/style.css' />
<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.FULLCAL_URL ?>/style/customstyles.css' />

<script type="text/javascript" src="<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jquery.1.5.2.min.js"></script>
<script type='text/javascript' src='<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jquery-ui.1.8.16.min.js'></script>

<?smarty if $smarty.const.TOUCHFRIENDLY_DRAG_EVENTS ?>
    <script type='text/javascript' src="<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jquery.ui.touch-punch.js"></script>
<?smarty /if ?>

<?smarty if $smarty.const.TOUCHFRIENDLY_SELECT_DAYCELLS ?>
    <script type='text/javascript' src="<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jquery.ui.touch.js"></script>
<?smarty /if ?>

<?smarty if $settings.editdialog_colorpicker_type == 'spectrum' ?>
	<script src='<?smarty $smarty.const.EXTERNAL_URL ?>/bgrins-spectrum/spectrum.js'></script>
	<link rel='stylesheet' href='<?smarty $smarty.const.EXTERNAL_URL ?>/bgrins-spectrum/spectrum.css' />
<?smarty /if ?>

<!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-lightness/jquery-ui.css"> -->


<script type='text/javascript'>
	MyCalendar = {};
  	MyCalendar.FULLCAL_URL					= '<?smarty $smarty.const.FULLCAL_URL ?>';
  	MyCalendar.timePickerMinHour 			= <?smarty $smarty.const.MINHOUR ?>;
	MyCalendar.timePickerMaxHour 			= <?smarty $smarty.const.MAXHOUR ?>;
	MyCalendar.timePickerMinuteInterval 	= <?smarty $smarty.const.MINUTE_INTERVAL ?>;
	
    MyCalendar.datePickerDateFormat 		= '<?smarty $smarty.const.DATEPICKER_DATEFORMAT ?>';

	MyCalendar.currentCalendar				= '<?smarty $default_calendar.calendar_id ?>';
	MyCalendar.currentCalendars				= <?smarty if isset($default_calendars) ?>'<?smarty $default_calendars ?>'<?smarty else ?>MyCalendar.currentCalendar<?smarty /if ?>;
	MyCalendar.currentCalendarName			= '<?smarty $default_calendar.name ?>';
	MyCalendar.currentEventColor			= null;
	MyCalendar.currentCalendarColor			= '<?smarty $default_calendar_color ?>';
	MyCalendar.calCanEdit 					= <?smarty if $cal_can_edit ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.calCanAdd 					= <?smarty if $cal_can_add ?>true<?smarty else ?>false<?smarty /if ?>;
  	MyCalendar.calCanChangeColor			= <?smarty if $cal_can_change_color ?>true<?smarty else ?>false<?smarty /if ?>;
  	MyCalendar.calCanMail                   = <?smarty if $cal_can_mail ?>true<?smarty else ?>false<?smarty /if ?>;
  	MyCalendar.calAlterableStartdate		= '<?smarty $cal_alterable_startdate ?>';
  	MyCalendar.calAlterableEnddate          = '<?smarty $cal_alterable_enddate ?>';
  	MyCalendar.calCanDragDDItems 			= <?smarty if $can_drag_dd_items ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.calCanView 					= <?smarty if $cal_can_view ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.admin_has_full_control       = <?smarty if $smarty.const.ADMIN_HAS_FULL_CONTROL ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.onlyAdminCanSeeDDItems       = <?smarty if $smarty.const.ONLY_ADMIN_CAN_SEE_DRAG_DROP_ITEMS ?>true<?smarty else ?>false<?smarty /if ?>;
    
    MyCalendar.showDescriptionInWDLview     = <?smarty if $smarty.const.SHOW_DESCRIPTION_IN_WDL_VIEW ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.showLocationInWDLview        = <?smarty if $smarty.const.SHOW_LOCATION_IN_WDL_VIEW ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.showPhoneInWDLview           = <?smarty if $smarty.const.SHOW_PHONE_IN_WDL_VIEW ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.showUrlInWDLview             = <?smarty if $smarty.const.SHOW_URL_IN_WDL_VIEW ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.maskUnalterableDays           = <?smarty if $smarty.const.MASK_UNALTERABLE_DAYS ?>true<?smarty else ?>false<?smarty /if ?>;
    
    
	MyCalendar.showWeeknumbers				= <?smarty if $settings.show_weeknumbers == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showNotAllowedMessages		= <?smarty if $settings.show_notallowed_messages == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.showDescriptionField			= <?smarty if $settings.show_description_field == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showLocationField			= <?smarty if $settings.show_location_field == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showPhoneField				= <?smarty if $settings.show_phone_field == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showUrlField                 = <?smarty if $settings.show_url_field == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showDeleteConfirmDialog		= <?smarty if $settings.show_delete_confirm_dialog == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.truncateTitle				= <?smarty if $settings.truncate_title == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showAMPM						= <?smarty if $settings.show_am_pm == 'on' ?>true<?smarty else ?>false<?smarty /if ?>;
	
    MyCalendar.weekViewType					= '<?smarty $settings.week_view_type ?>';
	MyCalendar.dayViewType					= '<?smarty $settings.day_view_type ?>';
	MyCalendar.defaultView					= '<?smarty $settings.default_view ?>';
	MyCalendar.showViewType					= '<?smarty $settings.show_view_type ?>';
	MyCalendar.editdialogColorpickerType	= '<?smarty $settings.editdialog_colorpicker_type ?>';
	MyCalendar.truncateLength				= <?smarty $settings.truncate_length ?>;
	MyCalendar.editdialogTimepickerType		= '<?smarty $settings.editdialog_timepicker_type ?>';
    
    MyCalendar.showMonthViewButton			= <?smarty if $smarty.const.SHOW_MONTH_VIEW_BUTTON ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showWeekViewButton			= <?smarty if $smarty.const.SHOW_WEEK_VIEW_BUTTON ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showDayViewButton			= <?smarty if $smarty.const.SHOW_DAY_VIEW_BUTTON ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showAgendaViewButton			= <?smarty if $smarty.const.SHOW_AGENDA_VIEW_BUTTON ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showTitleFirst				= <?smarty if $smarty.const.SHOW_TITLE_FIRST ?>true<?smarty else ?>false<?smarty /if ?>;
	
	MyCalendar.defaultTimeForEvent			= '<?smarty $smarty.const.DEFAULT_TIME_FOR_EVENT ?>';
	MyCalendar.MouseoverWidth				= '<?smarty $smarty.const.MOUSEOVER_WIDTH ?>';
	MyCalendar.showPhoneInMouseover			= <?smarty if $smarty.const.SHOW_PHONE_IN_MOUSEOVER ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showUrlInMouseover			= <?smarty if $smarty.const.SHOW_URL_IN_MOUSEOVER ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.onlyShowMouseoverInMonthview	= <?smarty if $smarty.const.ONLY_SHOW_MOUSEOVER_IN_MONTH_VIEW ?>true<?smarty else ?>false<?smarty /if ?>;

	MyCalendar.showSearchBox				= <?smarty if $smarty.const.SHOW_SEARCH_BOX ?>true<?smarty else ?>false<?smarty /if ?>;
	
	MyCalendar.useHtmlEditor				= <?smarty if $smarty.const.USE_HTML_EDITOR ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.loggedInUser					= <?smarty if $user_id !== null ?><?smarty $user_id ?><?smarty else ?>''<?smarty /if ?>;
	MyCalendar.isOwner						= <?smarty if $is_owner ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.isAdmin						= <?smarty if $is_admin ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.isSuperAdmin					= <?smarty if $is_super_admin ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.showMouseoverDeleteButton	= <?smarty if $smarty.const.SHOW_MOUSEOVER_DELETE_BUTTON ?>true<?smarty else ?>false<?smarty /if ?>;
	MyCalendar.dialogsResizable				= <?smarty if $smarty.const.DIALOGS_RESIZABLE ?>true<?smarty else ?>false<?smarty /if ?>;

	MyCalendar.gotoYear 					= '<?smarty $gotoYear ?>';
	MyCalendar.gotoMonth 					= '<?smarty $gotoMonth ?>';	// 0 based, jan = 0
	MyCalendar.gotoDay						= '<?smarty $gotoDay ?>';

    MyCalendar.touchfriendly_drag_events    = <?smarty if $smarty.const.TOUCHFRIENDLY_DRAG_EVENTS ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.touchfriendly_select_daycells = <?smarty if $smarty.const.TOUCHFRIENDLY_SELECT_DAYCELLS ?>true<?smarty else ?>false<?smarty /if ?>;
   
    MyCalendar.showFileUpload               = <?smarty if $smarty.const.SHOW_FILE_UPLOAD ?>true<?smarty else ?>false<?smarty /if ?>;
    MyCalendar.maxEventFileUpload           = <?smarty if $smarty.const.MAX_EVENT_FILE_UPLOAD !== null ?><?smarty $smarty.const.MAX_EVENT_FILE_UPLOAD ?><?smarty else ?>10<?smarty /if ?>;
    
    MyCalendar.FCfirstDay                   = <?smarty $smarty.const.FIRSTDAY_OF_WEEK ?>;
    MyCalendar.FCfirstHour                  = <?smarty $smarty.const.FIRST_SCROLL_HOUR ?>;
    MyCalendar.FCminTime                    = <?smarty $smarty.const.MIN_VISIBLE_TIME ?>;
    
	function DropDown(el) {
		this.dd = el;
		this.initEvents();
	}
	DropDown.prototype = {
		initEvents : function() {
			var obj = this;

			$('#dd').click( function(event){
				$(this).toggleClass('active');
				event.stopPropagation();
			});
		}
	}

	$(function() {
		var dd = new DropDown( $('#dd') );
		$(document).click(function() {
			// all dropdowns
			$('.wrapper-dropdown-5').removeClass('active');
		});
	});

    $(document).ready(function() {
        $('#print_btn').click(function() {
           //$('#calendar').fullCalendar('render');
            window.print();
        });
       
    });
</script>

<script type='text/javascript' src='<?smarty $smarty.const.FULLCAL_URL ?>/script/script.js'></script>
<script type='text/javascript' src='<?smarty $smarty.const.FULLCAL_URL ?>/script/listeners.js'></script>
<script type='text/javascript' src='<?smarty $smarty.const.FULLCAL_URL ?>/script/lang<?smarty $settings.language ?>.js'></script>

<script type='text/javascript' src='<?smarty $smarty.const.EXTERNAL_URL ?>/dateformat.js'></script>

<script type='text/javascript' src='<?smarty $smarty.const.EXTERNAL_URL ?>/fullcalendar-1.6.4/fullcalendar/fullcalendar.js'></script>

<script type='text/javascript' src='<?smarty $smarty.const.EXTERNAL_URL ?>/simple_colorpicker.js'></script>

<?smarty if $settings.editdialog_timepicker_type == 'simple' ?>
	<script type='text/javascript' src='<?smarty $smarty.const.EXTERNAL_URL ?>/jquery-timepicker-1.3.2/jquery.timepicker.min.js'></script>
<?smarty else ?>
	<script type='text/javascript' src='<?smarty $smarty.const.EXTERNAL_URL ?>/jquery/jquery-ui-timepicker-0.3.3/jquery.ui.timepicker.js'></script>
<?smarty /if ?>

<link type="text/css" rel="stylesheet" href="<?smarty $smarty.const.EXTERNAL_URL ?>/dropdown/css/style.css" />
<script type="text/javascript" src="<?smarty $smarty.const.EXTERNAL_URL ?>/dropdown/mo.js"></script>

</head>

<body style="margin: 0 auto;width:100%;">
<?php 

$_SESSION['order_id']  = $_GET['order_id']; ?>
<div class="container" style="">
	<div style="">
	<!--<span id="calendar-title"><?smarty $smarty.const.CALENDAR_TITLE ?></span>
		<div style="float:left;width: 20%;padding-left:10px;max-width:140px;padding-top: 2px;">
			<?smarty if isset($user) && !empty($user) ?>

				<span id="dd" class="wrapper-dropdown-5" tabindex="1" style="line-height: 24px;"><?smarty $user ?>
				<ul class="dropdown">
                    <li><a href="<?smarty $smarty.const.FULLCAL_URL ?>/admin/users/?action=get_profile&uid=<?smarty $user_id ?>"><i class="icon-user"></i><span id="menu_to_profile">Profile</span></a></li>

				<?smarty if $is_admin ?>
					<li><a href="<?smarty $smarty.const.FULLCAL_URL ?>/admin/users/?action=new_user"><i class="icon-plus"></i><span id="menu_add_user">Add user</span></a></li>
					<li><a href="<?smarty $smarty.const.FULLCAL_URL ?>/admin/users/?action=quick_new_user"><i class="icon-plus"></i><span id="menu_quick_add_user">Quickly add user</span></a></li>
					<li><a id="to_admin_area" href="<?smarty $smarty.const.FULLCAL_URL ?>/admin"><i class="icon-th-large"></i>Admin dashboard</a></li>
                    <li><a href="<?smarty $smarty.const.FULLCAL_URL ?>/admin/settings"><i class="icon-cog"></i><span id="menu_settings">Settings</span></a></li>
                <?smarty else ?>
                    <li><a href="<?smarty $smarty.const.FULLCAL_URL ?>/user/settings"><i class="icon-cog"></i><span id="menu_settings">Settings</span></a></li>
                    <?smarty if $smarty.const.USERS_CAN_ADD_CALENDARS ?>
                        <li><a href="<?smarty $smarty.const.FULLCAL_URL ?>/user/calendars"><i class="icon-list"></i><span id="menu_my_calendars">My calendars</span></a></li>
                    <?smarty /if ?>
                <?smarty /if ?>

				

				<li><a href="?action=logoff"><i class="icon-close"></i><span id="menu_logout">Log out</span></a></li>
				</ul>
				<span class="right-arrow"></span>
				</span>
			<?smarty else ?>
				<?smarty if $smarty.const.ALLOW_ACCESS_BY == 'login'  || $smarty.const.ALLOW_ACCESS_BY == 'free' ?>
					<?smarty if $smarty.const.SHOW_SMALL_LOGIN_LINK ?>
						<a style="line-height: 24px;" class="button-fc-like" href="<?smarty $smarty.const.FULLCAL_URL ?>?action=login">Log in</a>
						<?smarty if $smarty.const.USERS_CAN_REGISTER ?>
							<a href="<?smarty $smarty.const.FULLCAL_URL ?>/register">Register</a>
						<?smarty /if ?>
					<?smarty /if ?>
				<?smarty /if ?>
			<?smarty /if ?>
           			
		</div>
		
		<?smarty if $smarty.const.SHOW_SEARCH_BOX ?>
		<div id="searchbox_and_buttons">
			<a style="float:right;margin-right: 10px;line-height: 17px !important;" class="button-fc-like" id="print_btn" href="#"><i class="icon-print"></i> Print</a>
			<form method="POST" action="<?smarty $smarty.const.FULLCAL_URL ?>/?action=search" style="float:right;padding-right: 10px;">
				<input type="text" name="sq" style="height:19px;width:150px;" id="cal_q_field" class="rounded-left" value="<?smarty if isset($q) ?><?smarty $q ?><?smarty /if ?>" />
				<input type="submit" onclick="if($('#cal_q_field').val() == '') {return false;}" class="rounded-right button-fc-like" unselectable="on" style="-moz-user-select: none;" value="Search" />
				<input type="submit" onclick="$('#cal_q_field').val('');return false;"  class="rounded button-fc-like" unselectable="on" style="-moz-user-select: none;" value="X" />
				<input type="hidden" id="searchbox_cal_id" name="cal_id" />
			</form>
             
		</div>-->
		<?smarty /if ?>


	<div style="padding-bottom:30px;clear:both;">
		<div id='external-events'>

			<?smarty include file="`$smarty.const.FULLCAL_DIR`/view/leftblocks/calendars.html" my_active_calendars = $my_active_calendars ?>

			<?smarty if isset($my_active_calendars) && !empty($my_active_calendars) ?>
				<div id="dragdrop_events" >
					<?smarty foreach from=$my_active_calendars item=item ?>
						<div id="ext_item_<?smarty $item.calendar_id ?>" style="display:none;padding-bottom:10px;" class="ext_item">
						<?smarty foreach from=$item.dditems item=i ?>
                        <div style="border:1px solid #8f8f8f;background-color:<?smarty if !empty($i.color) ?><?smarty $i.color ?><?smarty else ?><?smarty $item.calendar_color ?><?smarty /if ?>;" class="rightarrowdiv external-event" cal_id="<?smarty $item.calendar_id ?>" color="<?smarty if !empty($i.color) ?><?smarty $i.color ?><?smarty else ?><?smarty $item.calendar_color ?><?smarty /if ?>" alt="<?smarty $i.info ?>" title="<?smarty $i.info ?>"><?smarty $i.title ?></div>
						<?smarty /foreach ?>
						</div>
					<?smarty /foreach ?>
				</div>
			<?smarty /if ?>

			
		</div>

		<div id='calendar' style="width:83%;position:absolute;top:80px;left:180px;padding-bottom:30px;min-width:520px;">
            <span id="cal_message"></span>
			<span id="cal_error"></span>

			<span id="loading">loading...</span>
		</div>

	</div>
     
	<?smarty include file="`$smarty.const.FULLCAL_DIR`/view/dialogs/dlg_event_edit.html" ?>
	
	<?smarty include file="`$smarty.const.FULLCAL_DIR`/view/dialogs/dlg_profile.html" ?>
	
	<?smarty if $is_admin || $is_super_admin ?>
		<?smarty include file="`$smarty.const.FULLCAL_DIR`/view/dialogs/dlg_adduser.html" ?>
		<?smarty include file="`$smarty.const.FULLCAL_DIR`/view/dialogs/dlg_calendars.html" ?>

	<?smarty /if ?>


	<div id="dialog-delete-prompt" title="" style="display: none;"><span id="delete_one_or_all_label_id">&nbsp;</span></div>
	<div id="dialog-update-prompt" title="" style="display: none;"><span id="update_repair_label_id">&nbsp;</span></div>

</div>
<script>
	localStorage.setItem('order_id',<?php echo $_GET['order_id']; ?>);
</script>
<style>
.fc-event-inner.current{
	background-color:green;
}
.fc-event-tech {
    color: #ffff1c;
}
</style>
</body>
</html>